.about-us {
    display: flex;
    flex-direction: column;
    margin: 40px 20%;
}

.head {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}

.content {
    font-size: var(--font-size);
}

@media(max-width:600px) {
    .about-us {
        margin: 40px 10%;
    }
}