.Header {
    width: 100vw;
    height: 10vh;
    min-height: 80px;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 0 50px;
    z-index: 3;

    /* Borders and shadows */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 10px 15px rgb(0, 0, 0, 0.12);
}

/* Logo */
.logo {
    width: 180px;
    height: auto;
}

.logo:hover {
    cursor: pointer;
}

.navigation-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-menu>a {
    list-style: none;
    font-weight: bold;
    margin: 0px 30px;
    padding: 10px;
}

.navigation-menu>a {
    text-decoration: none;
    color: var(--primary-color);
}

.navigation-menu>a:hover {
    transition: 150ms;
    border-bottom: 2px solid var(--primary-color);
}

/* Dropdown Menu - Start */

.logout-btn {
    text-decoration: none;
    color: rgb(255, 0, 0, 0.8);
    background-color: rgb(255, 0, 0, 0.8);
    border-radius: var(--border-radius);
}


.profilePic {
    width: 50px;
    height: 50px;
    margin-left: 30px;
    border-radius: 100px;
    border: 2px dashed var(--primary-color);
}

.profilePic:hover {
    cursor: pointer;
}
